body {

	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	background-color: rgba(10,10,10,0.79);
	border: 18px solid #6f4020;
	padding: 1%;
}

h6 {
	font-family: 'Gelasio', serif;
	font-size: 100%;
	color: #a93a14;
}

h2 {
	font-family: 'Gelasio', serif;
	font-size: 165%;
	color: #d07c43;
}

p {
	font-family: 'Gelasio', serif;
	font-size: 100%;
	color: rgba(255, 215, 175, 0.45);
}

.quoteblock {
	border-left: 5px solid #6f4020;
	padding-left: 0.75%;
}

.postblock {
	border-bottom: 2px solid rgba(255, 215, 175, 0.10);
	padding-bottom: 3%;
}
