
body {
	/*background: rgb(7, 0, 3);*/
	background: url(skyrim.jpg);
	/*background: url(orb.mp4);*/
	background-size: cover;
}

h1 {
	color: #4F910A;
	/*border-color: rgba(10,0,10,0.5);
	border-width: 1px;
	border-style: solid;*/
}

h2 {
	color: rgb(0,120,40);
}

h3 {
	color: rgb(0,90,26);
}

li {
	color: red;
}