body {

	background: url(palace3.jpg);

	background-size: cover;
}



#headfont {
	font-family: "Bookman" serif;
	color: rgba(230,240,220,0.8);
	text-shadow: 0px 4px 4px rgba(0,0,0,0.85);
}

#headfont:hover {
	text-shadow: 3px 6px 6px rgba(0,0,0,1)
}