.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.titlebar {
    font-variant-caps: small-caps;
    font-family: 'Orbitron';
    font-size: 240%;
    width: max-content;
    padding: 0.25rem;
    /* font-family: 'Righteous'; */
    color: #c20404;
    border: 1px solid #e60000;
    border-right: transparent;
    border-top: transparent;
    border-radius: 8px;
    /* text-decoration: underline;
    text-decoration-color: #e60000; */
}

.titlebarRed {
    color: #7c003e;
}

.titlebarBorder {
    border: 0px solid lightslategray;
}






.devilbox {
    /* font-family: 'Quicksand'; */
    
    background-color: black;
    color: #00bd8b;
    font-size: 120%;
    min-width: 100%;
    min-height: 8rem;
    overflow: hidden;
    resize: vertical;
}

.fontismOrb {
    font-family: 'Orbitron';
    color: #7c003e;
    max-width: 30%;
}
.fontismQuick {
    font-family: 'Quicksand';
    color: #7c003e;
    max-width: 30%;
}
.fontismRight {
    font-family: 'Righteous';
    color: #7c003e;
    max-width: 30%;
}