* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Righteous';
  src: url('../styles/fonts/Righteous-Regular.ttf');
}
@font-face {
  font-family: 'Quicksand';
  src: url('../styles/fonts/Quicksand-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Orbitron';
  src: url('../styles/fonts/Orbitron-VariableFont_wght.ttf');
}

body {
  background-color: black;
}

.tinycaps {
  font-variant-caps: small-caps;
  font-family: 'Righteous';
  font-size: 12rem;
  color: aqua;
}
.titlebar {
  font-variant-caps: small-caps;
  font-family: 'Righteous';
  font-size: 510%;
  color: #55ffff;
  /* color: #00bd8b; */
  padding-left: 1rem;
  padding-right: 1rem;
}
.titlebar2 {
  color: #7c003e;
}

.graph {
  font-family: 'Righteous';
  color: #7c003e;
  font-size: large;
}
.graph2 {
  font-family: 'Righteous';
  color: #00bd8b;
}