* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Righteous';
  src: url('../styles/fonts/Righteous-Regular.ttf');
}
@font-face {
  font-family: 'Quicksand';
  src: url('../styles/fonts/Quicksand-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'Orbitron';
  src: url('../styles/fonts/Orbitron-VariableFont_wght.ttf');
}

body {
  background-color: black;
}

a {
  color: #00bd8b;
  text-decoration: none;
}

a:visited {
  color: #00bd8b;
  text-decoration: none;
}

.tinycaps {
  font-variant-caps: small-caps;
  font-family: 'Righteous';
  font-size: 12rem;
  color: aqua;
}